header.blog {
  border-bottom: 1px solid lightgrey;
}

header div nav form a {
  margin-right: 15px;
}

section.cover {
  height: 50vh;
  min-height: 350px;
  background-image: url('http://localhost:3000/assets/bg-about.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right 0 bottom 0;
  box-shadow: inset rgba(3,27,78,.1)0 2px 4px 0;
}

section.cover div.container div.input-group input.form-control {
  border: 1px solid #fff;
}

section.admin, section.blog-post {
  box-shadow: inset rgba(3,27,78,.1)0 2px 4px 0;
}

footer {
  background-color: #f0f0f0;
  box-shadow: inset rgba(3,27,78,.1)0 2px 4px 0;
}

div.devise-box {
  width: 300px;
  border: 1px solid lightgrey;
  padding: 10px 25px;
  border-radius: 5px;
  margin: 0 auto 10px auto;
}
