<section class="album bg-white shadow-sm my-3 pt-4" style="border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-post">
          <h1 class="blog-post-title h4">Komentar</h1>
          <div id="disqus_thread"></div>
          <script>
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://bukan-programmer.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
      </div>
    </div>
  </div>
</section>

