<section class="album py-3 bg-white my-5 px-4 py-4 shadow-sm">
  <div class="container">
    <h1 class="h3 my-4"><strong><i class="blockquote-footer">Semua artikel</i></strong></h1>
    <div class="row">
      <% @articles.each do |a| %>
        <div class="col-md-4">
          <%= link_to article_path(a), class: 'text-decoration-none text-secondary' do %>
            <div class="card my-3 shadow-sm">
              <%= image_tag('bp-home.jpg', class: 'card-img-top') %>
              <div class="card-body">
                <h5 class="h3 font-weight-bold card-title"><%= a.title.titleize %></h5>
              </div>
              <div class="card-footer">
                <small class="text-muted"><%= time_ago_in_words(a.created_at).capitalize %></small>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
