<section class="album bg-white shadow-sm my-5 px-4 py-4">
  <div class="container">
    <div class="row">
      <div class="blog-post">
        <h1 class="blog-post-title h3"><%= @article.title %></h1>
        <p class="blog-post-meta"><%= @article.created_at %></p>
        <%= image_tag('bp-home.jpg', class: 'mb-4 img-thumbnail') %>
        <%= @article.content %>
      </div>
    </div>
  </div>
</section>
