<h1>Editing Article</h1>

<main class="shadow-sm">
  <%= render 'global_section' %>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <%= render 'form', article: @article %>
      </div>
      <div class="col-md-3">
        <%= render 'layouts/global_sidebar' %>
      </div>
    </div>
  </div>
</main>
