<section class="album py-3 bg-white my-5 px-4 py-4 shadow-sm">
  <div class="container">
    <div class="row">

      <h4 style="text-align: justify;">UMUM</h4>
      <p style="text-align: justify;">Selamat datang di situs <a href="https://www.bukanprogrammer.com">www.bukanprogrammer.com</a>. Bukan Programmer adalah media pembelajaran berbasis web yang membahas topik - topik seputar Teknologi Informasi khususnya pemrograman web. Dengan mengakses <a href="https://www.bukanprogrammer.com">www.bukanprogrammer.com</a> berarti anda setuju untuk terikat dengan peraturan umum beserta syarat dan ketentuan yang telah ditetapkan di bawah ini.</p>
      <h4 style="text-align: justify;">DEFINISI</h4>
      <p style="text-align: justify;"><strong>Bukan Programmer</strong> adalah tempat berbagi pengetahuan seputar Teknologi Informasi khususnya pemrograman web. Maka setiap konten yang berada di Bukan Programmer adalah milik <a href="https://www.bukanprogrammer.com">www.bukanprogrammer.com</a> dan dapat dibaca oleh pengunjungnya secara gratis serta menyebarkannya dengan mencantumkan copyright <a href="https://www.bukanprogrammer.com">www.bukanprogrammer.com</a></p>
      <p style="text-align: justify;">&nbsp;</p>
      <h4 style="text-align: justify;">KETENTUAN UMUM PENGGUNAAN</h4>
      <p style="text-align: justify;">Semua hal yang terdapat di Bukan Programmer memiliki syarat-syarat yang diatur oleh ketentuan berikut dan dapat digunakan sebagaimana mestinya, <a href="https://www.bukanprogrammer.com">www.bukanprogrammer.com</a> dikelola dan dikembangkan oleh <a href="../www.facebook.com/dede.irwanto" target="_blank" rel="noopener">Dede Irwanto</a></p>
      <p style="text-align: justify;">Berikut adalah ketentuan yang ditetapkan oleh Bukan Programmer. Dengan menggunakan dan atau mengunjungi maka anda menyatakan bahwa:</p>
      <ul style="text-align: justify;">
      <li>Anda setuju untuk terikat dengan Syarat dan Ketentuan yang ditetapkan serta kebijakan mengenai perubahan atau perbaikan Syarat dan Ketentuan di kemudian hari.</li>
      <li>Setiap konten yang terdapat di Bukan Programmer adalah hak cipta <a href="https://www.bukanprogrammer.com">www.bukanprogrammer.com</a>, maka apabila anda dengan sengaja menciplak tanpa izin dan tanpa mencantumkan sumber maka dapat dikenakan sanksi sesuai hukum yang berlaku tentang hak cipta.</li>
      </ul>

    </div>
  </div>
</section>
