<section class="album bg-white shadow-sm my-3 px-4 py-4" style="border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem">
  <div class="container">
    <div class="row">
      <h3 >Bukan Programmer</h3>
      <p >Merupakan media pembelajaran berbasis web yang membahas topik - topik menarik seputar Teknologi Informasi. Situs ini sebenarnya dibuat untuk mendokumentasikan eksperimen - eksperimen yang mimin lakukan selama menggeluti dunia IT. Selain sebagai dokumentasi pribadi, mimin berharap situs ini bisa membantu teman - teman yang ingin ataupun sedang menggeluti dunia IT khususnya terkait web programming.&nbsp;</p>
      <p >&nbsp;</p>
      <h3 >Kritik dan Saran<br /></h3>
      <p >Dalam penyajiannya, tentu terdapat banyak kekurangan baik dari segi penulisan kalimat, typo dan lain sebagainya. Oleh karena itu, kritik dan saran sangat diperlukan untuk kemudian dilakukan perbaikan.</p>
      <p >Kritik dan saran bisa disampaikan melalui alamat surel <a href="mailto:id.bukanprogrammer@gmail.com">id.bukanprogrammer@gmail.com</a></p>
      <p >&nbsp;</p>
    </div>
  </div>
</section>
