<section class="jumbotron jumbotron-fluid news-letter mb-0">
  <div class="container">    
    <div class="row">
      <div class="col-md-12 mt-3 text-light">
        <h1 class="h3 my-4"><strong><i class="blockquote-footer text-light">Surat kabar</i></strong></h1>
        <p class="mt-4">
          Subscribe agar mendapatkan berita terbaru dari kami.
        </p>
        <form class="form-inline">
          <div class="input-group mb-2 mr-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
            </div>
            <input type="email" class="form-control" placeholder="Email">
          </div>
          <button type="submit" class="btn btn-danger mb-2">Subscribe</button>
        </form>
        <p class="mt-4">
          Atau follow kami melalui:
        </p>
        <form class="form-inline">
          <!-- <a class="text&#45;danger h2" href=""><i class="fab fa&#45;youtube"></i></a> -->
          <%= link_to 'https://github.com/bukanprogrammer', class: 'text-dark h2 ml-2' do %>
            <i class="fab fa-github"></i>
          <% end %>
        </form>
      </div>
    </div>
  </div>
</section>
