<section class="album py-3 bg-light">
  <div class="container">
    <h1 class="h3 my-4"><strong>Kumpulan error & cara mengatasinya</strong></h1>
    <div class="row">
      <ul class="list-unstyled">
        <% 3.times do %>
          <li class="media mt-4">
            <%= image_tag('icon-ruby.png', class: 'mr-4') %>
            <div class="media-body">
              <h5 class="mt-0 mb-1">List-based media object</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
