<section class="jumbotron jumbotron-fluid mb-0">
  <div class="container">    
    <div class="row">
      <div class="col-md-12 mt-3 text-dark">
        <h1 class="h3">Surat Kabar</h1>
        <p class="mt-4">
          Subscribe agar mendapatkan berita terbaru dari kami.
        </p>
        <form class="form-inline">
          <div class="input-group mb-2 mr-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
            </div>
            <input type="email" class="form-control" placeholder="Email">
          </div>
          <button type="submit" class="btn btn-danger mb-2">Subscribe</button>
        </form>
        <p class="mt-4">
          Atau follow kami melalui:
        </p>
        <form class="form-inline">
          <a class="text-danger h2" href=""><i class="fab fa-youtube"></i></a>
          <a class="text-dark h2 ml-2" href=""><i class="fab fa-github"></i></a>
          <a class="text-primary h2 ml-2" href=""><i class="fab fa-facebook"></i></a>
          <a class="text-info h2 ml-2" href=""><i class="fab fa-twitter"></i></a>
          <a class="text-warning h2 ml-2" href=""><i class="fab fa-instagram"></i></a>
        </form>
      </div>
    </div>
  </div>
</section>
