<section class="album bg-white shadow-sm my-3 px-4 py-4" style="border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem">
  <div class="container">
    <div class="row">
      <h3 style="text-align: justify;">Kebijakan Privasi</h3>
      <p style="text-align: justify;">Jika Anda memerlukan informasi lebih lanjut atau memiliki pertanyaan lain tentang kebijakan privasi pada <a href="https://www.bukanprogrammer.com">www.bukanprogrammer.com</a>, silahkan menghubungi saya via e-mail di <a href="mailto:id.bukanprogrammer@gmail.com">id.bukanprogrammer@gmail.com</a>.</p>
      <p style="text-align: justify;">Pada Bukan Programmer, privasi para pengunjung situs ini sangat penting. Dokumen kebijakan privasi ini mengurai jenis informasi pribadi yang diterima dan dikumpulkan oleh Bukan Programmer dan bagaimana informasi pribadi tersebut digunakan.</p>
      <p style="text-align: justify;">&nbsp;</p>
      <h3 style="text-align: justify;">Log Files</h3>
      <p style="text-align: justify;">Seperti kebanyakan situs Web lain, <a href="https://www.bukanprogrammer.com">www.bukanprogrammer.com</a> juga menggunakan log files. Informasi dalam log files meliputi alamat internet protocol (IP), jenis browser, Internet Service Provider (ISP), jejak tanggal / waktu, refferering atau exit pages dan klik-klik yang dilakukan pengunjung untuk menganalisis kecendrungan, mengelola situs, melacak aktifitas pengguna pada situs, dan untuk mengumpulkan informasi demografis. Alamat IP dan informasi lainnya tersebut tidak terkait dengan informasi yang bersifat pribadi.</p>
      <p style="text-align: justify;">&nbsp;</p>
      <h3 style="text-align: justify;">Cookies dan Web Beacons</h3>
      <p style="text-align: justify;">Bukan Programmer menggunakan cookies untuk menyimpan informasi tentang preferensi pengunjung, merekam informasi pengguna tertentu pada halaman yang dikunjungi, menyesuaikan halaman Web content based berdasarkan tipe browser yang digunakan pengunjung atau informasi lainnya yang pengunjung kirimkan melalui browser yang digunakan.</p>
    </div>
  </div>
</section>
