<main class="shadow-sm">
  <%= render 'global_section' %>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <%= render '../views/pages/privacy_policy/index_section' %>
      </div>
      <div class="col-md-3">
        <%= render 'layouts/global_sidebar' %>
      </div>
    </div>
  </div>
</main>
