<section class="jumbotron jumbotron-fluid bp-page mb-0">
  <div class="container">
    <div class="col-md-5 offset-6 mt-5 text-white">
      <h1 class="display-4">Error Logs</h1>
    </div>
  </div>
</section>

