<section class="album py-3 bg-white my-5 px-4 py-4 shadow-sm">
  <div class="container">
    <div class="row">
      <h3 style="text-align: justify;">Bukan Programmer</h3>
      <p style="text-align: justify;">Merupakan media pembelajaran berbasis web yang membahas topik - topik menarik seputar dunia IT. Situs ini sebenarnya dibuat untuk mendokumentasikan eksperimen - eksperimen yang mimin lakukan selama menggeluti dunia IT. Selain sebagai dokumentasi pribadi, mimin berharap situs ini bisa membantu teman - teman yang ingin ataupun sedang menggeluti dunia IT khususnya terkait web programming.&nbsp;</p>
      <p style="text-align: justify;">&nbsp;</p>
      <h3 style="text-align: justify;">Kritik dan Saran<br /></h3>
      <p style="text-align: justify;">Dalam penyajiannya, tentu terdapat banyak kekurangan baik dari segi penulisan kalimat, typo dan lain sebagainya. Oleh karena itu, kritik dan saran sangat diperlukan untuk kemudian dilakukan perbaikan.</p>
      <p style="text-align: justify;">Kritik dan saran bisa disampaikan melalui alamat surel <a href="mailto:id.bukanprogrammer@gmail.com">id.bukanprogrammer@gmail.com</a></p>
      <p style="text-align: justify;">&nbsp;</p>
    </div>
  </div>
</section>
