header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

main {
  box-shadow: inset rgba(3,27,78,.1)0 2px 4px 0;
}

section.bp-home {
  margin-top: 67px;
  width: 100%;
  min-height: 520px;
  background-image: url('http://localhost:3001/assets/bp-home.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset rgba(3,27,78,.1)0 2px 4px 0;
}

section.news-letter {
  background-color: #8f00ff;
  box-shadow: inset rgba(3,27,78,.1)0 2px 4px 0;
}

a.btn-rounded {
  border-radius: 50px;
}

footer {
  border-top: 2px solid #6f00ff;
}
