body {
  background-color: #f9fafc !important;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* start of home style */

section.bp-home {
  margin-top: 67px;
  width: 100%;
  min-height: 520px;
  background-image: url('http://localhost:3001/assets/bp-home.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.news-letter {
  background-color: #8f00ff;
}

a.btn-rounded {
  border-radius: 50px;
}

/* end of home style */

/* start of page style */

section.bp-page {
  margin-top: 67px;
  width: 100%;
  height: 350px;
  background-image: url('http://localhost:3001/assets/bp-page.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* end of page style */

footer {
  border-top: 2px solid #6f00ff;
}


