<aside class="blog-sidebar text-secondary my-3">
  <div class="album shadow-sm mb-4 py-3" style="border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem;">
    <script data-ad-client="ca-pub-4614521464561737" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </div>
</aside>


