<section class="category py-3" id="category">
  <div class="container">
    <div class="row">
      <script data-ad-client="ca-pub-4614521464561737" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </div>
  </div>
</section>

