<footer>
  <div class="container pt-5 pb-3">
    <div class="row">
      <div class="col-sm-6">
        <h4 class="text-dark">Tentang kami</h4>
        <p class="text-secondary text-justify">Bukan Programmer merupakan situs pendidikan yang bertujuan untuk mengenalkan dunia Programming sebagai salah satu penunjang Revolusi Industri 4.0. <a href="">[Selengkapnya...]</a></p>
      </div>
      <div class="col-sm-2">
        <h4 class="text-dark">Navigasi</h4>
        <a class="text-secondary" href="">Blog</a></br>
        <a class="text-secondary" href="">Tentang</a></br>
        <a class="text-secondary" href="">FAQs</a>
      </div>
      <div class="col-sm-4">
        <h4 class="text-dark">Contact</h4>
        <a href="mailto:admin@bukanprogrammer.com"><i class="text-info fas fa-envelope"></i> <span class="text-secondary">admin[at]bukanprogrammer[dot]com</span></a></br>
      </div>
      <div class="col-sm-12 text-center">
        <hr class="my-4">
        <span class="text-secondary"><i class="far fa-copyright"></i> <%= Time.zone.now.year %></span> <a href="https://bukanprogrammer.com">Bukan Programmer</a><span class="text-secondary"> | Powered by: </span><a href="getbootstrap.com">Bootstrap</a>
      </div>
    </div>
  </div>
</footer>
